<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Piano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="set">
    <button class="white b" (click)="play('B')"></button>
    <button class="black as" (click)="play('AS')"></button>
    <button class="white a" (click)="play('A')"></button>
    <button class="black gs" (click)="play('GS')"></button>
    <button class="white g" (click)="play('G')"></button>
    <button class="black fs" (click)="play('FS')"></button>
    <button class="white f" (click)="play('F')"></button>
    <button class="white e" (click)="play('E')"></button>
    <button class="black ds" (click)="play('DS')"></button>
    <button class="white d" (click)="play('D')"></button>
    <button class="black cs" (click)="play('CS')"></button>
    <button class="white c" (click)="play('C')"></button>
  </div>
</ion-content>
