<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Piano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="set" #keyboard (mousemove)="moved($event)" (mousedown)="getPosition($event)">
      <ion-button class="white b" fill="clear" (click)="play('B', $event)"></ion-button>
      <ion-button class="black as" fill="clear" (click)="play('AS',$event)"></ion-button>
      <ion-button class="white a" fill="clear" (touchstart)="play('A')"></ion-button>
      <ion-button class="black gs" fill="clear" (touchstart)="play('GS')"></ion-button>
      <ion-button class="white g" fill="clear" (touchstart)="play('G')"></ion-button>
      <ion-button class="black fs" fill="clear" (touchstart)="play('FS')"></ion-button>
      <ion-button class="white f" fill="clear" (touchstart)="play('F')"></ion-button>
      <ion-button class="white e" fill="clear" (touchstart)="play('E')"></ion-button>
      <ion-button class="black ds" fill="clear" (touchstart)="play('DS')"></ion-button>
      <ion-button class="white d" fill="clear" (touchstart)="play('D')"></ion-button>
      <ion-button class="black cs" fill="clear" (touchstart)="play('CS')"></ion-button>
      <ion-button class="white c" fill="clear" (touchstart)="play('C')"></ion-button>
    </div>
</ion-content>
