<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Piano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="set">
    <li class="white b" (click)="play('B')"></li>
    <li class="black as" (click)="play('AS')"></li>
    <li class="white a" (click)="play('A')"></li>
    <li class="black gs" (click)="play('GS')"></li>
    <li class="white g" (click)="play('G')"></li>
    <li class="black fs" (click)="play('FS')"></li>
    <li class="white f" (click)="play('F')"></li>
    <li class="white e" (click)="play('E')"></li>
    <li class="black ds" (click)="play('DS')"></li>
    <li class="white d" (click)="play('D')"></li>
    <li class="black cs" (click)="play('CS')"></li>
    <li class="white c" (click)="play('C')"></li>
  </ul>
</ion-content>
